/* Overlay */
.popup-review {
    display: none;
    position: fixed;
    /*inset: 0;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

/* Centered popup */
.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.95);
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    /*opacity: 0;*/
    animation: popupFade 0.3s ease forwards;
}



/*@keyframes popupFade {*/
/*    to {*/
/*        opacity: 1;*/
/*        transform: translate(-50%, -50%) scale(1);*/
/*    }*/
/*}*/

.popup-icon {
    background: #28a745;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto 20px;
}

.popup-content h3 {
    margin-bottom: 15px;
}

.popup-content p {
    margin-bottom: 10px;
}

.popup-muted {
    margin-bottom: 20px;
    /*color: #666;*/
}

.popup-progress {
    height: 6px;
    background: #e9ecef;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 25px;
}

.popup-progress-bar {
    height: 100%;
    width: 100%;
    background: #28a745;
    transition: width 0.1s linear;
}

.popup-btn {
    background: #28a745;
    color: white;
    border: none;
    padding: 12px 30px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.popup-btn:hover {
    background: #218838;
}
