{% load static %}

<footer id="footer" class="footer footer-1 text-center">
    <!-- Widget Section
	============================================= -->
    <div class="footer--widget text--center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-4">
                    <div class="footer--widget-content">
                        <h3>Our Address</h3>
                        <p>Moscow, Tverskaya, 10/6</p>
                        <p class="mb-0">Email: aaaaaaf@bbbb.com</p>
                        <p class="mb-0">Phone: +7 123456789</p>
{#                        <a class="link--styled" href="#">View On Map</a>#}
                    </div>
                </div>
                <!-- .col-md-3 end -->
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="footer--reservation">
                        <div class="divider--shape-10up"></div>
                        <h3>Make A Reservation</h3>
                        <div class="divider--shape-11"></div>
                        <div class="footer--reservation-wrapper">
                            <ul class="list-unstyled">
                                <li>Week days <span>09.00 – 24:00</span></li>
                                <li>Saturday <span>12:00 – 03.00</span></li>
                                <li>Sunday <span>12:00 – 03.00</span></li>
                            </ul>
                            <a class="btn btn--primary btn--bordered btn--block" data-toggle="modal" data-target="#reservationModule">Find A Table</a>
                            {% include 'includes/reservation_form.html' %}
<!-- /.modal -->        </div>
                    </div>
                    <div class="divider--shape-10down"></div>
                </div>
                <!-- .col-md-3 end -->
                <div class="col-xs-12 col-sm-3 col-md-4">
                    <div class="footer--widget-content">
                        <h3>Leave A Review</h3>
                        <p class="mb-0">Please rate our chefs.</p>
                        <p class="mb-0">Write a few kind words!</p>
                        <a class="link--styled" href="{% url 'reviews' %}">Leave Feedback</a>
                    </div>
                </div>
                <!-- .col-md-3 end -->
            </div>
        </div>
        <!-- .container end -->
</div>
    <!-- .footer-widget end -->
    <!--Social
	============================================= -->
    <div class="footer--social">
        <div class="container">
            <div class="row">
                <div class="col-xs">
                    <div class="footer--social-icons">
                        <a href="#"><i class="fa fa-telegram"></i></a>
                        <a href="#"><i class="fa fa-vk"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                        <a href="#"><i class="fa fa-tripadvisor"></i></a>
                    </div>
                    <!-- .social-icons end -->
                </div>
                <!-- .col-md-6 end -->
            </div>
            <!-- .row end -->
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-widget end -->
    <!-- Copyrights
	============================================= -->
    <div class="footer--copyright text-center">
        <div class="divider--shape-dark"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <span>&copy; 2026 Saffron </span>
                </div>
            </div>
        </div>
        <!-- .container end -->
    </div>
    <!-- .footer-copyright end -->
</footer>