{% load static %}

<header id="navbar-spy" class="header header-11 header-3 header-6 header-transparent header-fixed">
        <nav id="primary-menu" class="navbar navbar-fixed-top">
          <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse-2">
              <ul class="nav navbar-nav nav-pos-right navbar-left">
                <!-- Home Menu -->
                <li class="has-dropdown mega-dropdown {% if current_url_name == 'home' %}active{% endif %}">
                  <a href="{% url 'home' %}" class="dropdown-toggle menu-item">home</a>
                </li>
                <!-- li end -->
                <!-- About Menu -->
                <li class="has-dropdown {% if current_url_name == 'home' and current_anchor %}active{% endif %}">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">about</a>
                  <ul class="dropdown-menu">
                    <li {% if current_anchor == 'banner5' %}class="active"{% endif %}>
                      <a href="{% url 'home' %}#banner5">our story</a>
                    </li>
                    <li {% if current_anchor == 'team1' %}class="active"{% endif %}>
                      <a href="{% url 'home' %}#team1">our chefs</a>
                    </li>
                    <li {% if current_anchor == 'footer' %}class="active"{% endif %}>
                      <a href="{% url 'home' %}#footer">contact us</a>
                    </li>
                  </ul>
                </li>
                <!-- li end -->
                <!-- Menu Menu -->
                <li {% if current_url_namespace == 'menu' and current_url_name == 'list' %}class="active"{% endif %}>
                  <a class="menu-item" href="{% url 'menu:list' %}">menu</a>
                </li>
                <!-- li end -->
                <!-- Evens Menu-->
                <li {% if current_url_namespace == 'events' and current_url_name == 'list' %}class="active"{% endif %}>
                  <a class="menu-item" href="{% url 'events:list' %}">events</a>
                </li>
                <!-- li end -->
              </ul>
            </div>
            <!-- .navbar-collapse -->
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-mobile" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="logo" href="{% url 'home' %}">
                <img class="logo-light" src="{% static 'img/logo_min.png' %}" alt="saffron Logo">
                <img class="logo-dark" src="{% static 'img/logo_min_black.png' %}" alt="saffron Logo">
              </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-right" id="navbar-collapse-1">
              <ul class="nav navbar-nav nav-pos-right navbar-left">
                <li {% if current_url_namespace == 'gallery' and current_url_name == 'list' %}class="active"{% endif %}>
                  <a class="menu-item" href="{% url 'gallery:list' %}">gallery</a>
                </li>
                <!-- li end -->
                <!-- Blog Menu-->
                <li {% if current_url_namespace == 'blog' and current_url_name == 'list' %}class="active"{% endif %}>
                  <a class="menu-item" href="{% url 'blog:list' %}">blog</a>
                </li>
                <!-- li end -->

                <li>

    <div class="module-container pull-right">
        <div class="module module-reservation">
            <a class="btn-popup btn-popup-theme" data-toggle="modal" data-target="#reservationModule">
                <i class="lnr lnr-users"></i>
                <span class="hidden-sm hidden-xs">Reservation</span>
            </a>

            <div class="modal fade reservation-popup" tabindex="-1" role="dialog" id="reservationModule">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="fa fa-times"></i>
                            </button>

                            <div class="row reservation">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="reservation-form mb-30 bg-white text-center">
                                        <form method="post" id="reservationForm" class="mb-0" novalidate>
                                            {% csrf_token %}

                                            <div class="row">
                                                <!-- Количество гостей -->
                                                <div class="col-xs-12 col-sm-12 col-md-4">
                                                    <div class="form-select">
                                                        <i class="fa fa-angle-down"></i>
                                                        {{ reservation_form.guests }}
                                                    </div>
                                                </div>

                                                <!-- Дата визита -->
                                                <div class="col-xs-12 col-sm-12 col-md-4">
                                                    {{ reservation_form.visit_date }}
                                                </div>

                                                <!-- Время визита -->
                                                <div class="col-xs-12 col-sm-12 col-md-4">
                                                    {{ reservation_form.visit_time }}
                                                </div>

                                                <!-- Имя -->
                                                <div class="col-xs-12 col-sm-12 col-md-4">
                                                    {{ reservation_form.name }}
                                                </div>

                                                <!-- Email -->
                                                <div class="col-xs-12 col-sm-12 col-md-4">
                                                   {{ reservation_form.email }}
                                                </div>

                                                <!-- Телефон -->
                                                <div class="col-md-4">
                                                    {{ reservation_form.phone }}
                                                </div>

                                                <!-- Особые пожелания -->
                                                <div class="col-xs-12 col-sm-12 col-md-12">
                                                    {{ reservation_form.special_request }}
                                                </div>

                                                <!-- Капча -->
                                                <div class="col-xs-12 col-sm-12 col-md-12">
                                                    <div class="captcha-container mb-3" style="margin-bottom: 30px; display: flex; justify-content: center">
                                                        {{ reservation_form.captcha }}
                                                    </div>
                                                </div>

                                                <!-- Кнопка отправки -->
                                                <div class="col-xs-12 col-sm-12 col-md-12">
                                                    <button type="submit" class="btn btn--secondary btn--block">
                                                        Find Table
                                                    </button>
                                                </div>

                                                <!-- Сообщения об ошибках/успехе -->
                                                <div class="col-xs-12 col-sm-12 col-md-12">
                                                    <div id="reservation-result" class="reservation-result mt-3"></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

                </li>
              <li>
                <a class="menu-item" href="#"><img class="order-cart" src="{% static '/img/cart.png' %}" alt="cart"></a>
              </li>
              </ul>
            </div>
            <!-- .navbar-collapse -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-mobile">
              <ul class="nav navbar-nav nav-pos-right navbar-left  hidden-lg hidden-md">
                <!-- Home Menu -->
                <li class="has-dropdown mega-dropdown active">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">home</a>
                </li>
                <!-- li end -->

                <!-- About Menu -->
                <li class="has-dropdown">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">About</a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="{% url 'home' %}#banner5">our story</a>
                    </li>
                    <li>
                      <a href="{% url 'home' %}#team1">our chefs</a>
                    </li>
                    <li>
                      <a href="{% url 'home' %}#footer">contact us</a>
                    </li>
                  </ul>
                </li>
                <!-- li end -->

                <!-- Menu Menu -->
                <li class="has-dropdown">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">Menu</a>
                </li>
                <!-- li end -->

                <!-- Features Menu-->
                <li class="has-dropdown">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">features</a>
                <li>
                  <a class="menu-item" href="#">gallery</a>
                </li>
                <!-- li end -->

                <!-- Blog Menu-->
                <li class="has-dropdown">
                  <a href="#" data-toggle="dropdown" class="dropdown-toggle menu-item">Blog</a>
                </li>
                <!-- li end -->
              </ul>
            </div>
            <!-- .navbar-collapse -->
          </div>
          <!-- .container end  -->
        </nav>

<script src="{% static 'js/reservations.js' %}"></script>
</header>