{% load static %}

<section id="slider" class="slider slide-overlay-black">
	<!-- START REVOLUTION SLIDER 5.0 -->
	<div class="rev_slider_wrapper">
		<div id="slider1" class="rev_slider"  data-version="5.0">
			<ul>
				<!-- slide 1 -->
				<li data-transition="fadetotopfadefrombottom"
					data-slotamount="default"
					data-easein="Power4.easeInOut"
					data-easeout="Power4.easeInOut"
					data-masterspeed="2000">
					<!-- MAIN IMAGE -->
					<img src="{% static 'img/main_01.jpg' %} " alt="Slide Background Image" width="1600" height="800">
				    <!-- LAYER NR. 1 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="-130"
						data-whitespace="nowrap"
						data-width="none"
						data-height="none"
                        data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">
						<div class="slide--subheadline">Only Fresh and Natural Foods</div>
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="-65"
						data-whitespace="nowrap"
						data-width="none"
						data-height="none"
                        data-frames='[{"delay":1750,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'						data-splitout="none"
						data-responsive_offset="on">
						<div class="slide--headline">Restaurant For Real Gourmets</div>
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="20"
						data-width="none"
						data-height="none"
                        data-frames='[{"delay":2000,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">
						<div class="slide--bio text-center">Saffron is a restaurant of positive emotions.<br>Unique exquisite recipes from talented chefs await you! </div>
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="100"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
                        data-frames='[{"delay":2250,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'						data-splitin="none"
						data-splitout="none"
						data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-164","delay":""}]'
						data-basealign="slide"
						data-responsive_offset="on"
						data-responsive="off">
						<div class="slide-action">
							<a class="btn btn--primary btn--inverse btn--lg" href="#">Get A Reservation Now</a>
						</div>
					</div>
				</li>

				<!-- slide 2 -->
				<li data-transition="random-premium"
					data-slotamount="default"
					data-easein="Power4.easeInOut"
					data-easeout="Power4.easeInOut"
					data-masterspeed="2000">
					<!-- MAIN IMAGE -->
					<img src="{% static 'img/main_02.jpg' %}" alt="Slide Background Image" width="1600" height="800">
					<!-- LAYER NR. 1 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="-65"
						data-whitespace="nowrap"
						data-width="none"
						data-height="none"
                        data-frames='[{"delay":1500,"speed":300,"frame":"0","from":"x:{-250,250};y:{-150,150};rX:{-90,90};rY:{-90,90};rZ:{-360,360};sX:0;sY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">
						<div class="slide--subheadline">Hello, We Are Saffron</div>
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="0"
						data-whitespace="nowrap"
						data-width="none"
						data-height="none"
                        data-frames='[{"delay":1750,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">
						<div class="slide--headline">Real Cooking, Perfect Taste</div>
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="100"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
                        data-frames='[{"delay":2000,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
						data-splitin="none"
						data-splitout="none"
						data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-164","delay":""}]'
						data-basealign="slide"
						data-responsive_offset="on"
						data-responsive="off">
						<div class="slide-action">
						<div class="slide--bio text-center">Saffron is a restaurant, bar and coffee roastery located on Moscow. We have<br>awesome recipes and the most talented chefs in town! </div>
						</div>
					</div>
				</li>

				<!-- slide 3 -->
				<li data-transition="turnoff-vertical"
					data-slotamount="default"
					data-easein="Power4.easeInOut"
					data-easeout="Power4.easeInOut"
					data-masterspeed="2000">
					<!-- MAIN IMAGE -->
					<img src="{% static 'img/main_03.jpg' %}" alt="Slide Background Image" width="1600" height="800">
					<!-- LAYER NR. 1 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="-130"
						data-whitespace="nowrap"
						data-width="none"
						data-height="none"
                        data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">
						<div class="slide--subheadline">Made With Love</div>
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="-50"
						data-whitespace="nowrap"
						data-width="none"
						data-height="none"
                        data-frames='[{"delay":1750,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">
						<div class="slide--headline">Fresh Ingredient, Tasty Meals</div>
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="40"
						data-width="none"
						data-height="none"
                        data-frames='[{"delay":2000,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">
						<div class="slide--bio text-center">Granny is a restaurant, bar and coffee roastery located on Egypt. We have<br>awesome recipes and the most talented chefs in town! </div>
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="110"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
                        data-frames='[{"delay":2250,"speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
						data-splitin="none"
						data-splitout="none"
						data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-164","delay":""}]'
						data-basealign="slide"
						data-responsive_offset="on"
						data-responsive="off">
						<div class="slide-action">
							<a class="btn btn--white btn--bordered" href="#">View Menu</a>
						</div>
					</div>
				</li>

			</ul>
		</div>
		<!-- END REVOLUTION SLIDER -->
	</div>
	<!-- END OF SLIDER WRAPPER -->
</section>