{% extends 'base.html' %}
{% load static %}

{% block title %}Блог - Saffron{% endblock %}

{% block content %}
<section id="page-title" class="page-title bg-overlay bg-parallax bg-overlay-gradient">
    <div class="bg-section">
        <img src="{% static 'img/blog_main.jpg' %}" alt="Background" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="title title-4 text-center">
                    <div class="title--content">
                        <div class="title--subtitle">Don't miss</div>
                        <div class="title--heading">
                            <h1>Tips From Our Chefs</h1>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li>blog</li>
                    </ol>
                    <div class="divider--shape-1down divider--shape-gray"></div>
                </div>
                <!-- .title end -->
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #page-title end -->
<!-- Blog Grid
============================================= -->
<section id="blog" class="blog blog-grid bg-gray pb-90">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9">
                <div class="row">
                 {% for post in posts %}
                    <!-- Blog Entry #1 -->
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="blog-entry">
                            <div class="entry--img">
                                <a href="{% url 'blog:detail' post.id %}">
									<img src="{{ post.image.url }}" alt="entry image"/>
								</a>
                            </div>
                            <div class="entry--content">
                                <div class="entry--meta">
                                    <span>
                                        {% for tag in post.tags.all %}
                                        <a href="{% url 'blog:posts_by_tag' tag.slug %}">{{ tag.name }}</a>
                                            {% if not forloop.last %}, {% endif %}
                                            {% empty %}
                                            <span>No tags</span>
                                        {% endfor %}
                                    </span>
                                </div>
                                <div class="entry--title">
                                    <h4><a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a></h4>
                                </div>
                                <div class="entry--bio">
                                    {{ post.short_description|slice:130 }}...
                                </div>
                                <div class="entry--footer">
                                    <div class="entry--date">
                                        {{ post.created_at|date:"d.m.Y" }}
                                    </div>
                                </div>
                            </div>
                            <!-- .entry-content end -->
                        </div>
                        <!-- .blog-entry end -->
                    </div>
                    <!-- .col-md-4 end -->
                     {% empty %}
                <div class="col-12">
                    <div class="text-center py-5">
                        <i class="fa fa-search fa-3x text-muted mb-3"></i>
                        <p></p>
                        <h4>No matches found</h4>
                        <p class="text-muted">Nothing found matching your request "{{ query }}".</p>
                        <hr>
                            <p class="mb-0">
                                <a href="{% if current_tag %}{% url 'blog:posts_by_tag' current_tag.slug %}{% else %}{% url 'blog:list' %}{% endif %}"
                                   class="btn btn-outline-info">
                                    Return to all posts
                                </a>
                            </p>
                    </div>
                </div>
                {% endfor %}
                </div>
                <!-- .row end -->
                <!-- Pagination -->
                {% if posts.has_other_pages %}
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 clearfix mt-20 text--center">
                        <ul class="pagination">
                            {% comment %} Кнопка "Назад" {% endcomment %}
                            {% if posts.has_previous %}
                                <li>
                                    <a href="?page={{ posts.previous_page_number }}{% if query %}&q={{ query }}{% endif %}#blog"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="disabled">
                                    <span aria-hidden="true">&laquo;</span>
                                </li>
                            {% endif %}

                            {% comment %} Номера страниц {% endcomment %}
                            {% for num in posts.paginator.page_range %}
                                {% if posts.number == num %}
                                    <li class="active"><a>{{ num }}</a></li>
                                {% elif num > posts.number|add:-3 and num < posts.number|add:3 %}
                                    <li>
                                        <a href="?page={{ num }}{% if query %}&q={{ query }}{% endif %}#blog">{{ num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% comment %} Кнопка "Вперед" {% endcomment %}
                            {% if posts.has_next %}
                                <li>
                                    <a href="?page={{ posts.next_page_number }}{% if query %}&q={{ query }}{% endif %}#blog"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="disabled">
                                    <span aria-hidden="true">&raquo;</span>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% endif %}
                <!-- .row end -->
            </div>
            <!-- .col-md-9 end -->
            <div class="col-xs-12 col-sm-12 col-md-3">
                <!-- Search
============================================= -->
<div class="widget widget-search">
    <div class="widget--content">
        <form class="form-search" method="get">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Type Your Search Words" name="q" value="{{ query|default_if_none:'' }}">
                <span class="input-group-btn">
					<button class="btn" type="submit"><i class="fa fa-search"></i></button>
				</span>

            </div>
            <!-- /input-group -->
        </form>
    </div>
</div>
<!-- .widget-search end -->


<!-- Recent Posts
============================================= -->
<div class="widget widget-recent-posts">
    <div class="widget--title">
        <h5>best posts</h5>
    </div>
    <div class="widget--content">
        {% for post in best_posts %}
        <div class="entry">
            <img src="{{ post.image.url }}" alt="title" />
            <div class="entry-desc">
                <div class="entry-meta">
                    {{ post.created_at|date:"d.m.Y" }}
                </div>
                <div class="entry-title">
                    <a href="#">{{ post.title }}</a>
                </div>
            </div>
        </div>
        <!-- .recent-entry end -->
        {% endfor %}
    </div>
</div>
<!-- .widget-recent end -->

<!-- Tag Clouds
============================================= -->
<div class="widget widget-tags">
    <div class="widget--title">
        <h5>tag clouds</h5>
    </div>
    <div class="widget--content">
        {% for tag in all_tags %}
    <a href="{% url 'blog:posts_by_tag' tag.slug %}">
        {{ tag.name }}
    </a>
    {% endfor %}
    </div>
</div>
<!-- .widget-tags end -->
            </div>
            <!-- .col-md-3 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #blog end -->

<div class="clearfix"></div>


{% endblock %}