<!DOCTYPE html>
<html dir="ltr" lang="ru">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Saffron Restaurant">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Saffron - элегантный ресторан с изысканной кухней">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes%7CKaushan+Script%7CRaleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <!-- Stylesheets -->
    <link href="{% static 'css/external.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/stars.css' %}" rel="stylesheet">

    <!-- Revolution Slider CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/layers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}">

    <title>{% block title %}Saffron{% endblock %}</title>

    {% block extra_css %}{% endblock %}
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <!-- Document Wrapper -->
    <div id="wrapper" class="wrapper clearfix">

        <!-- Header -->
        {% include 'includes/header.html' %}

        <!-- Main Content -->
        {% block content %}

        {% endblock %}

        <!-- Footer -->
        {% include 'includes/footer.html' %}
    </div>

    <!-- Footer Scripts -->
    <script src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/functions.js' %}"></script>

    <!-- Revolution Slider JS -->
    <script src="{% static 'js/revolution/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'js/revolution/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'js/revolution/revolution.extension.video.min.js' %}"></script>
    <script src="{% static 'js/revolution/revolution.extension.slideanims.min.js' %}"></script>
    <script src="{% static 'js/revolution/revolution.extension.actions.min.js' %}"></script>
    <script src="{% static 'js/revolution/revolution.extension.layeranimation.min.js' %}"></script>
    <script src="{% static 'js/revolution/revolution.extension.kenburn.min.js' %}"></script>
    <script src="{% static 'js/revolution/revolution.extension.navigation.min.js' %}"></script>
    <script src="{% static 'js/revolution/revolution.extension.migration.min.js' %}"></script>
    <script src="{% static 'js/revolution/revolution.extension.parallax.min.js' %}"></script>

    <!-- RS Configuration -->
    <script src="{% static 'js/rsconfig.js' %}"></script>

    {% block extra_js %}{% endblock %}

</body>
</html>