{% extends 'base.html' %}
{% load static %}

{% block title %}Saffron | Elegant Restaurant & Cafe{% endblock %}

{% block content %}
<!-- Hero Section
====================================== -->
<section id="slider" class="slider slide-overlay-black">
	<!-- START REVOLUTION SLIDER 5.0 -->
	<div class="rev_slider_wrapper">
		<div id="slider1" class="rev_slider"  data-version="5.0">
			<ul>
				<!-- slide 1 -->
				<li data-transition="fadetotopfadefrombottom"
					data-slotamount="default"
					data-easein="Power4.easeInOut"
					data-easeout="Power4.easeInOut"
					data-masterspeed="2000">
					<!-- MAIN IMAGE -->
					<img src="{% static 'img/main_01.jpg' %} " alt="Slide Background Image" width="1600" height="800">
				    <!-- LAYER NR. 1 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="-130"
						data-whitespace="nowrap"
						data-width="none"
						data-height="none"
                        data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">
						<div class="slide--subheadline">Only Fresh and Natural Foods</div>
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="-65"
						data-whitespace="nowrap"
						data-width="none"
						data-height="none"
                        data-frames='[{"delay":1750,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'						data-splitout="none"
						data-responsive_offset="on">
						<div class="slide--headline">Restaurant For Real Gourmets</div>
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="20"
						data-width="none"
						data-height="none"
                        data-frames='[{"delay":2000,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">
						<div class="slide--bio text-center">Saffron is a restaurant of positive emotions.<br>Unique exquisite recipes from talented chefs await you! </div>
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="100"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
                        data-frames='[{"delay":2250,"speed":1000,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'						data-splitin="none"
						data-splitout="none"
						data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-164","delay":""}]'
						data-basealign="slide"
						data-responsive_offset="on"
						data-responsive="off">
						<div class="slide-action">
							<a class="btn btn--primary btn--inverse btn--lg" href="#">Get A Reservation Now</a>
						</div>
					</div>
				</li>

				<!-- slide 2 -->
				<li data-transition="random-premium"
					data-slotamount="default"
					data-easein="Power4.easeInOut"
					data-easeout="Power4.easeInOut"
					data-masterspeed="2000">
					<!-- MAIN IMAGE -->
					<img src="{% static 'img/main_02.jpg' %}" alt="Slide Background Image" width="1600" height="800">
					<!-- LAYER NR. 1 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="-65"
						data-whitespace="nowrap"
						data-width="none"
						data-height="none"
                        data-frames='[{"delay":1500,"speed":300,"frame":"0","from":"x:{-250,250};y:{-150,150};rX:{-90,90};rY:{-90,90};rZ:{-360,360};sX:0;sY:0;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">
						<div class="slide--subheadline">Hello, We Are Granny</div>
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="0"
						data-whitespace="nowrap"
						data-width="none"
						data-height="none"
                        data-frames='[{"delay":1750,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">
						<div class="slide--headline">Real Cooking, Perfect Taste</div>
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="100"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
                        data-frames='[{"delay":2000,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
						data-splitin="none"
						data-splitout="none"
						data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-164","delay":""}]'
						data-basealign="slide"
						data-responsive_offset="on"
						data-responsive="off">
						<div class="slide-action">
						<div class="slide--bio text-center">Granny is a restaurant, bar and coffee roastery located on Egypt. We have<br>awesome recipes and the most talented chefs in town! </div>
						</div>
					</div>
				</li>

				<!-- slide 3 -->
				<li data-transition="turnoff-vertical"
					data-slotamount="default"
					data-easein="Power4.easeInOut"
					data-easeout="Power4.easeInOut"
					data-masterspeed="2000">
					<!-- MAIN IMAGE -->
					<img src="{% static 'img/main_03.jpg' %}" alt="Slide Background Image" width="1600" height="800">
					<!-- LAYER NR. 1 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="-130"
						data-whitespace="nowrap"
						data-width="none"
						data-height="none"
                        data-frames='[{"delay":1500,"speed":1000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">
						<div class="slide--subheadline">Made With Love</div>
					</div>

					<!-- LAYER NR. 2 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="-50"
						data-whitespace="nowrap"
						data-width="none"
						data-height="none"
                        data-frames='[{"delay":1750,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">
						<div class="slide--headline">Fresh Ingredient, Tasty Meals</div>
					</div>

					<!-- LAYER NR. 3 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="40"
						data-width="none"
						data-height="none"
                        data-frames='[{"delay":2000,"speed":1000,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
						data-splitin="none"
						data-splitout="none"
						data-responsive_offset="on">
						<div class="slide--bio text-center">Granny is a restaurant, bar and coffee roastery located on Egypt. We have<br>awesome recipes and the most talented chefs in town! </div>
					</div>

					<!-- LAYER NR. 4 -->
					<div class="tp-caption"
						data-x="center" data-hoffset="0"
						data-y="center" data-voffset="110"
						data-width="none"
						data-height="none"
						data-whitespace="nowrap"
                        data-frames='[{"delay":2250,"speed":300,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
						data-splitin="none"
						data-splitout="none"
						data-actions='[{"event":"click","action":"jumptoslide","slide":"rs-164","delay":""}]'
						data-basealign="slide"
						data-responsive_offset="on"
						data-responsive="off">
						<div class="slide-action">
							<a class="btn btn--white btn--bordered" href="#">View Menu</a>
						</div>
					</div>
				</li>

			</ul>
		</div>
		<!-- END REVOLUTION SLIDER -->
	</div>
	<!-- END OF SLIDER WRAPPER -->
</section>
<!-- banner#5
============================================= -->
      <section id="banner5" class="banner banner-5 text-center">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
              <div class="heading heading-1 text--center mb-40">
                <p class="heading--subtitle">Hello dear friends</p>
                <h2 class="heading--title">Welcome To Saffron</h2>
                <div class="divider--shape-4"></div>
              </div>
              <!-- .heading end -->
            </div>
            <!-- .col-md-6 end -->
          </div>
          <!-- .row end -->
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
              <div class="banner--desc">
                Saffron was the first fine dining restaurant to open in Moscow. The restaurant's design was inspired by history: we created an industrial-style dining room combined with an open kitchen, a bar, takeaway coffee, and a roastery.
              </div>
            </div>
          </div>
          <!-- .row end -->
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="history-panel">
                <h6>1995</h6>
                <h3>Grand Opening</h3>
                <div class="divider--shape-13"></div>
                <p>Granny was opened in May 6, 1990, the interior was created by the most famous artists. Today our restaurant welcomes 250 people!</p>
              </div>
            </div>
            <!-- .col-md-4 end -->
            <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="history-panel">
                <h6>2005</h6>
                <h3>Second Branch</h3>
                <div class="divider--shape-13"></div>
                <p>Since the very first day, Granny was a gathering place for teachers, doctors, actors. Therefore we decided to open our second branch!</p>
              </div>
            </div>
            <!-- .col-md-4 end -->
            <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="history-panel">
                <h6>2015</h6>
                <h3>Great Taste Award</h3>
                <div class="divider--shape-13"></div>
                <p>Granny was and still remains not just a restaurant, but also a remarkable part of the culture. We are happy to announce that we claim tate award.</p>
              </div>
            </div>
            <!-- .col-md-4 end -->
          </div>
          <!-- .row end -->
        </div>
        <!-- .container end -->
      </section>
      <!-- #banner5 end -->

      <!-- specials #2
     ============================================= -->
      <section id="specials" class="specials specials-2 bg-overlay bg-overlay-dark4 bg-parallax">
        <div class="bg-section">
          <img src="{% static 'img/bg_08.jpg' %} " alt="Background" />
        </div>
        <div class="container">
          <div class="divider--shape-1up"></div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
              <div class="heading heading-1 mb-50 text--center">
                <p class="heading--subtitle">What’s for lunch?</p>
                <h2 class="heading--title color-white">Check Our Daily Specials</h2>
              </div>
            </div>
            <!-- .col-md-8 end -->
          </div>
          <!-- .row end -->
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="dishes-wrapper">
                <div class="row">
                  <!-- Dish #1 -->
                    {% for item in special_dishes %}
                  <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="dish-panel">
                      <div class="dish--img">
                        <img src="{{ item.image.url }}" alt="Dish Image">
                      </div>
                      <div class="dish--content">
                        <h3 class="dish--title">{{ item.name }}</h3>
                        <p class="dish--desc">{{ item.ingredients }}.</p>
                        <span class="dish--price">${{ item.price }}</span>
                      </div>
                    </div>
                    <!-- .dish end -->
                  </div>
                    {% endfor %}
                  <!-- .col-md-6 end -->

                </div>
                <div class="row text-center mt-70">
                  <div class="col-xs-12 col-sm-12 col-md-12">
                    <a class="btn btn--secondary btn--lg" href="{% url 'menu:list' %}">Discover Full Menu</a>
                  </div>
                </div>
                <!-- .row end -->
              </div>
              <!-- .dishes-wrapper end -->
            </div>
            <!-- .col-md-12 end -->
          </div>
          <!-- .row end -->
          <div class="divider--shape-1down"></div>
        </div>
        <!-- .container end -->
      </section>
      <!-- #specials2 end -->

      <!-- banner#2
     ============================================= -->
      <section id="banner2" class="banner banner-2 text-center pb-0">

        <div class="container">
            {% for item in new_dishes %}
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
              <div class="heading heading-1 text--center mt-60">
                <p class="heading--subtitle">New dishes</p>
                <h2 class="heading--title">Grilled Seafood Paella</h2>
                <div class="divider--shape-4"></div>
                <p class="heading--desc">Monkfish, onion, paella rice, garlic & smoked paprika, creamy chesapeake crab dip with artichoke, baked and topped with cheddar cheese, with crusty bread for dipping. creamy chesapeake crab dip with artichoke, baked and topped with a hot cheddar cheese.</p>
              </div>
              <!-- .heading end -->
              <div class="mt-40">
                <a class="btn btn--link" href="#">$34.95 one dish</a>
                <a class="btn btn--secondary" href="{% url 'menu:list' %}">Discover Our Menu</a>
              </div>
            </div>
            <!-- .col-md-6 end -->
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="banner-img mt-20">
                <img src="/menu_images/ban_01.jpg" alt="image">
              </div>
            </div>
            <!-- .col-md-3 end -->
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="banner-img">
                <img src="img/ban_02.jpg" alt="image">
              </div>
              <!-- .col-md-3 end -->
            </div>
            <!-- .col-md-3 end -->
          </div>
              {% endfor %}
          <!-- .row end -->
        </div>

        <!-- .container end -->
      </section>

      <!-- #banner2 end -->

<!-- Testimonial #2
============================================= -->
<section id="testimonial2" class="testimonial testimonial-1 bg-overlay bg-overlay-dark bg-parallax text-center">
    <div class="bg-section">
        <img src="{% static 'img/bg_01.jpg' %}" alt="Background"/>
    </div>
    <div class="container">
        <div class="divider--shape-1up"></div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div class="heading heading-1 mb-40 text--center">
                    <p class="heading--subtitle">People talk</p>
                    <h2 class="heading--title color-white">Our Guestbook</h2>
                </div>
            </div>
            <!-- .col-md-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div id="testimonial-carousel" class="carousel carousel-dots carousel-white" data-slide="3"  data-slide-rs="1" data-autoplay="true" data-nav="false" data-dots="true" data-space="30" data-loop="true" data-speed="800">
                    <!-- Testimonial #1 -->
                    <div class="testimonial-panel">
                        <div class="testimonial--rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <!-- .testimonial-rating end -->
                        <div class="testimonial--body">
                            <p>“ Granny is simply the best. Great Food, nice atmosphere and very reasonable prices. It just doesn't get any better ”</p>
                        </div>
                        <!-- .testimonial-body end -->
                        <div class="testimonial--meta">
                            <div class="testimonial--author">
                                <h4>- Todd Stephen</h4>
                            </div>
                        </div>
                        <!-- .testimonial-meta end -->
                    </div>
                    <!-- .testimonial-panel end -->

                    <!-- Testimonial #2 -->
                    <div class="testimonial-panel">
                        <div class="testimonial--rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <!-- .testimonial-rating end -->
                        <div class="testimonial--body">
                            <p>“ We've been to Granny many times over the years. We know what to expect: great food and awesome prices ”</p>
                        </div>
                        <!-- .testimonial-body end -->
                        <div class="testimonial--meta">
                            <div class="testimonial--author">
                                <h4>- David Casper</h4>
                            </div>
                        </div>
                        <!-- .testimonial-meta end -->
                    </div>
                    <!-- .testimonial-panel end -->

                    <!-- Testimonial #3 -->
                    <div class="testimonial-panel">
                        <div class="testimonial--rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <!-- .testimonial-rating end -->
                        <div class="testimonial--body">
                            <p>“ The reasonable prices, the great atmosphere are only topped by the delicious food. Keep up the great work ”</p>
                        </div>
                        <!-- .testimonial-body end -->
                        <div class="testimonial--meta">
                            <div class="testimonial--author">
                                <h4>- John Arax</h4>
                            </div>
                        </div>
                        <!-- .testimonial-meta end -->
                    </div>
                    <!-- .testimonial-panel end -->

                    <!-- Testimonial #4 -->
                    <div class="testimonial-panel">
                        <div class="testimonial--rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <!-- .testimonial-rating end -->
                        <div class="testimonial--body">
                            <p>“ Granny is simply the best. Great Food, nice atmosphere and very reasonable prices. It just doesn't get any better ”</p>
                        </div>
                        <!-- .testimonial-body end -->
                        <div class="testimonial--meta">
                            <div class="testimonial--author">
                                <h4>- Anthony Kevin</h4>
                            </div>
                        </div>
                        <!-- .testimonial-meta end -->
                    </div>
                    <!-- .testimonial-panel end -->

                </div>
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
        <div class="divider--shape-1down"></div>
    </div>
    <!-- .container end -->
</section>
<!-- #testimonial2 end -->

<!-- Menu #9
============================================= -->
<section id="menu9" class="menu menu-9 bg-white text-center">
    <div class="container">
        <div class="row mb-50 heading">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div class="heading heading-1 text--center">
                    <p class="heading--subtitle">Taste the best</p>
                    <h2 class="heading--title">Discover Our Menu</h2>
                    <div class="divider--shape-4"></div>
                    <p class="heading--desc">Everyone has taste, even if they don't realize it. Even if you're not a great chef, there's nothing to stop you understanding the difference between what tastes good and what doesn't.</p>
                </div>
            </div>
            <!-- .col-md-8 end -->
        </div>
        <!-- .row end -->
        <div class="row">
            <!-- Dish #1 -->
            <div class="col-xs-12 col-sm-6 col-md-4 pd-0">
                <div class="dish-panel">
                    <a href="menu-variations.html">
                        <div class="dish--img">
                            <img src="img/menumix_01.jpg" alt="dish img">
                        </div>
                        <div class="dish--content text--center">
                            <h3 class="dish--title">salad</h3>
                            <span class="dish--price">From $6.95</span>
                        </div>
                    </a>
                </div>
                <!-- .dish end -->
            </div>
            <!-- .col-md-4 end -->
            <!-- Dish #2 -->
            <div class="col-xs-12 col-sm-6 col-md-4 pd-0">
                <div class="dish-panel">
                    <a href="menu-variations.html">
                        <div class="dish--img">
                            <img src="img/menumix_02.jpg" alt="dish img">
                        </div>
                        <div class="dish--content text--center">
                            <h3 class="dish--title">Soup</h3>
                            <span class="dish--price">From $8.95</span>
                        </div>
                    </a>
                </div>
                <!-- .dish end -->
            </div>
            <!-- .col-md-4 end -->
            <!-- Dish #3 -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="dish-panel">
                    <a href="menu-variations.html">
                        <div class="dish--img">
                            <img src="img/menumix_03.jpg" alt="dish img">
                        </div>
                        <div class="dish--content text--center">
                            <h3 class="dish--title">Chicken Meals</h3>
                            <span class="dish--price">From $15.95</span>
                        </div>
                    </a>
                </div>
                <!-- .dish end -->
            </div>
            <!-- .col-md-4 end -->
            <!-- Dish #4 -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="dish-panel">
                    <a href="menu-variations.html">
                        <div class="dish--img">
                            <img src="img/menumix_04.jpg" alt="dish img">
                        </div>
                        <div class="dish--content text--center">
                            <h3 class="dish--title">Meat Meals</h3>
                            <span class="dish--price">From $20.95</span>
                        </div>
                    </a>
                </div>
                <!-- .dish end -->
            </div>
            <!-- .col-md-4 end -->
            <!-- Dish #5 -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="dish-panel">
                    <a href="menu-variations.html">
                        <div class="dish--img">
                            <img src="img/menumix_05.jpg" alt="dish img">
                        </div>
                        <div class="dish--content text--center">
                            <h3 class="dish--title">Fish Meals</h3>
                            <span class="dish--price">From $26.95</span>
                        </div>
                    </a>
                </div>
                <!-- .dish end -->
            </div>
            <!-- .col-md-4 end -->
            <!-- Dish #6 -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="dish-panel">
                    <a href="menu-variations.html">
                        <div class="dish--img">
                            <img src="img/menumix_06.jpg" alt="dish img">
                        </div>
                        <div class="dish--content text--center">
                            <h3 class="dish--title">Desserts</h3>
                            <span class="dish--price">From $10.95</span>
                        </div>
                    </a>
                </div>
                <!-- .dish end -->
            </div>
            <!-- .col-md-4 end -->
        </div>
        <!-- .row end -->
        <div class="row text-center mt-70">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <a class="btn btn--secondary btn--lg" href="#">Discover Full Menu</a>
            </div>
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #menu9 end -->

      <!-- Team
      ============================================= -->
      <section id="team1" class="team team-1 team-shadow bg-white">
        <div class="container">
          <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
              <div class="heading heading-1 mb-50 text--center">
                <p class="heading--subtitle">Ready to serve</p>
                <h2 class="heading--title mb-0">Talented Chefs</h2>
                <div class="divider--shape-4"></div>
                <p class="heading--desc">We must thank all the talented chefs in Granny for creating exquisite dishes to satisfy our taste buds. They're able to create a balance with several flavour & ingredients.</p>
              </div>
            </div>
            <!-- .col-md-8 end -->
          </div>
          <!-- .row end -->
          <div class="row">
            <!-- Teams -->
              {% for chef in chefs %}
            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="member">
                <div class="member-img">
                  <img src="{{ chef.image.url }}" alt="member">
                  <div class="member-overlay">
                    <div class="member-hover">
                      <div class="pos-vertical-center">
                        <div class="member-social">
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-instagram"></i></a>
                        </div>
                        <!-- .memebr-social end -->
                        <div class="member-desc">
                          <p>{{ chef.bio }}</p>
                        </div>
                        <!-- .memebr-desc end -->
                      </div>
                      <!-- .pos-vertical-center end -->
                    </div>
                    <!-- .memebr-hover end -->
                  </div>
                  <!-- .memebr-ovelay end -->
                </div>
                <!-- .member-img end -->
                <div class="member-info">
                  <h5>{{ chef.position }}</h5>
                  <h4>{{ chef.name }}</h4>
                  <p style="font-size: 18px">Has experience {{ chef.experience }} years</p>
                </div>
                <!-- .member-info end -->
              </div>
              <!-- .member end -->
            </div>
            <!-- .col-md-3 end -->
              {% endfor %}

          </div>
        </div>
      </section>
      <!-- Team End  -->
{% endblock %}