{% extends 'base.html' %}
{% load static %}

{% block title %}Меню - Saffron{% endblock %}

{% block content %}
    <section id="page-title" class="page-title bg-overlay bg-parallax bg-overlay-gradient">
    <div class="bg-section">
        <img src="{% static 'img/menu_bg.jpg' %}" alt="Background" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="title title-4 text-center">
                    <div class="title--content">
                        <div class="title--subtitle">Discover</div>
                        <div class="title--heading">
                            <h1>Our Menu</h1>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="active">menu</li>

                    </ol>
                    <div class="divider--shape-1down"></div>
                </div>
                <!-- .title end -->
            </div>
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>

<section id="heading1" class="heading heading-1 bg-white" style="padding-bottom: 60px!important;">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div class="text--center">
                    <p class="heading--subtitle">Taste the best</p>
                    <h2 class="heading--title mb-0">Fresh Ingredient, Tasty Meals</h2>
                    <div class="divider--shape-4"></div>
                    <p class="heading--desc">Everyone has taste, even if they don't realize it. Even if you're not a great chef, there's nothing to stop you understanding the difference between what tastes good and what doesn't.</p>
                </div>

            </div>
            <!-- .col-md-8 end -->
        </div>
        <!-- .row end -->
    </div>
    <!-- .container end -->
</section>
<!-- #heading1 end -->
 <section id="tabs1" class="tabs text-center bg-white" style="padding-top: 5px!important;">
     <div class="container sticky-section">
         <div class="row">
             <div class="col-xs-12 col-sm-12 col-md-12">
                 <!-- Nav tabs -->
                 <ul class="nav nav-tabs">
                     <li><a href="{% url 'menu:list' %}#divider5">Breakfast</a></li>
                     <li><a href="{% url 'menu:list' %}#divider4">Drinks</a></li>
                     <li><a href="{% url 'menu:list' %}#divider3">Desserts</a></li>
                     <li><a href="{% url 'menu:list' %}#divider1">Full Menu</a></li>
                 </ul>
             </div>
                 <!-- .tabs-content end -->
         </div>
             <!-- .col-md-12 end -->
     </div>
 </section>
{% for category in categories %}
    <!-- Проверяем, нужна ли эта категория -->
    {% if category.name in "Salads,Soup,Meat dishes,Fish dishes,Snacks" %}

    <!-- Divider #1 Full Menu -->
 <section id='{{ item.id }}' class="section-divider bg-overlay bg-parallax bg-overlay-dark4">
     <div class="bg-section">
         {% if category.image %}
            <img src="{{ category.image_background.url }}" alt="{{ category.name }}" />
            {% else %}
            <img src="{{ category.image_background.url }}" alt="{{ category.name }}" />
         {% endif %}
     </div>
     <div class="container">
         <div class="divider--shape-1up"></div>
            <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                    <div class="heading heading-3 text--center">
                        <p class="heading--subtitle">Start at 11.00</p>
                        <h2 class="heading--title mb-0 text-white">{{ category.name }} Menu</h2>
                    </div>
                </div>
            </div>
         <div class="divider--shape-3down"></div>
     </div>
 </section>

    <!-- Menu 1 Full Menu -->
 <section class="menu menu-2 bg-white pb-60">
        <div class="container">
            <div class="row">
                {% for item in category.menuitem_set.all %}
                    {% if not item.stop_list %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="dish-panel">
                        <div class="dish--img">
                            <img src="{{ item.image_dish.url }}" alt="Dish Image">
                            <div class="dish--overlay">
                                <a class="dish-popup" data-toggle="modal" data-target="#dishPopup{{ item.id }}">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="dish--content">
                            <h3 class="dish--title">{{ item.name }}</h3>
                            <span class="dish--price" style="right: 10px!important;">{{ item.price }}</span>
                            <p class="dish--desc">{{ item.ingredients }}</p>
                            {% if item.calories %}
                            <p class="dish--desc">Calories: {{ item.calories }} kcal</p>
                            {% endif %}
                            {% if item.cooking_time %}
                            <p class="dish--desc">Cooking time: {{ item.cooking_time }} min</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                    {% endif %}
                {% empty %}
                <div class="col-xs-12">
                    <div class="text-center">
                        <p>There are no dishes in this category yet</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="arrow-top">
        <a href="#heading1"><i class="fa fa-arrow-up"></i></a>
        <p class="arrow-top-word">top</p>
    </div>
</section>

    {% endif %}
{% endfor %}

<!-- Modal window -->
{% for category in categories %}
    {% if category.name in "Salads,Soup,Meat dishes,Fish dishes,Snacks" %}
        {% for item in category.menuitem_set.all %}
            {% if not item.stop_list %}
<div class="modal fade" tabindex="-1" role="dialog" id="dishPopup{{ item.id }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times"></i>
                </button>
                <div class="row reservation">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="img-popup">
                            <img src="{{ item.image_dish.url }}" alt="dish img">
                            <div class="img-popup-overlay">
                                <div class="popup--price">{{ item.price }}</div>
                                <h3 class="popup--title">{{ item.name }}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="content-popup">
                            <p>{{ item.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

<!-- Divider #3 Desserts
============================================= -->
<section id="divider3" class="section-divider bg-overlay bg-parallax bg-overlay-dark4">
    <div class="bg-section">
        <img src="{% static 'img/des_bg.jpg' %}" alt="Background" />
    </div>
    <div class="container">
        <div class="divider--shape-1up"></div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div class="heading heading-3 text--center">
                    <p class="heading--subtitle">Sweet Pleasure</p>
                    <h2 class="heading--title mb-0 text-white">Desserts Menu</h2>
                </div>
            </div>
            <!-- .col-md-8 end -->
        </div>
        <!-- .row end -->
        <div class="divider--shape-3down"></div>
    </div>
    <!-- .container end -->
</section>
<!-- #divider3 end -->
<!-- Menu
============================================= -->
<section id="menu4" class="menu menu-2 bg-white pb-60">
    <div class="container">
        <div class="row">
            <!-- Dish #1 -->
            {% for category in categories %}
                {% for item in category.menuitem_set.all %}
                    {% if category.menuitem_set.all %}
                        {% if category.name == 'Desserts' %}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="dish-panel">
                    <div class="dish--img">
                        <img src="{{ item.image_dish.url }}" alt="Dish Image">
                        <div class="dish--overlay">
                            <a class="dish-popup" data-toggle="modal" data-target="#dishPopup4{{ item.id }}"><i class="fa fa-search-plus"></i></a>
<div class="modal fade" tabindex="-1" role="dialog" id="dishPopup4{{ item.id }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
                <div class="row reservation">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="img-popup">
                            <img src="{{ item.image_dish.url }}" alt="dish img">
                            <div class="img-popup-overlay">
                                <div class="popup--price">{{ item.price }}</div>
                                <h3 class="popup--title">{{ item.name }}</h3>
                            </div>
                        </div>
                    </div>
                    <!-- .col-md-12 end -->
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="content-popup">
                            <p>{{ item.description }}</p>
                        </div>
                    </div>
                </div>
                <!-- .row end -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
                        </div>
                    </div>
                    <div class="dish--content">
                        <h3 class="dish--title">{{ item.name }}</h3>
                        <span class="dish--price" style="right: 10px!important;">{{ item.price }}</span>
                        <p class="dish--desc">{{ item.ingredients }}</p>
                        <p class="dish--desc">Calories: {{ item.calories }} kcal</p>
                        <p class="dish--desc">Cooking time: {{ item.cooking_time }} min</p>
                    </div>
                </div>
                <!-- .dish end -->
            </div>
            <!-- .col-md-4 end -->
                    {% endif %}
                    {% else %}
                        <h2 class="no-dihes" style="text-align: center">There are no dishes in this category yet</h2>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <div class="arrow-top">
        <a href="#heading1"><i class="fa fa-arrow-up"></i></a>
        <p class="arrow-top-word">top</p>
    </div>
    <!-- .container end -->
</section>
<!-- #menu2 end -->

<!-- Divider #4 Drinks
============================================= -->
<section id="divider4" class="section-divider bg-overlay bg-parallax bg-overlay-dark4">
    <div class="bg-section">
        <img src="{% static 'img/dr_bg.jpg' %}" alt="Drinks" />
    </div>
    <div class="container">
        <div class="divider--shape-1up"></div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div class="heading heading-3 text--center">
                    <p class="heading--subtitle">Don’t miss</p>

                    <h2 class="heading--title mb-0 text-white">Drinks Menu</h2>
                </div>
            </div>
            <!-- .col-md-8 end -->
        </div>
        <!-- .row end -->
        <div class="divider--shape-3down"></div>
    </div>
    <!-- .container end -->
</section>
<!-- #divider4 end -->

<!-- Menu #5 Drinks
============================================= -->
<section id="menu5" class="menu menu-2 bg-white pb-60">
    <div class="container">
        <div class="row">
            <!-- Dish #1 -->
        {% for category in categories %}
            {% for item in category.menuitem_set.all %}
                {% if category.menuitem_set.all %}
                    {% if category.name == 'Drinks' %}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="dish-panel">
                    <div class="dish--img">
                        <img src="{{ item.image_dish.url }}" alt="Dish Image">
                        <div class="dish--overlay">
                            <a class="dish-popup" data-toggle="modal" data-target="#dishPopup5{{ item.id }}"><i class="fa fa-search-plus"></i></a>
<div class="modal fade" tabindex="-1" role="dialog" id="dishPopup5{{ item.id }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
                <div class="row reservation">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="img-popup">
                            <img src="{{ item.image_dish.url }}" alt="dish img">
                            <div class="img-popup-overlay">
                                <div class="popup--price">{{ item.price }}</div>
                                <h3 class="popup--title">{{ item.name }}</h3>
                            </div>
                        </div>
                    </div>
                    <!-- .col-md-12 end -->
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="content-popup">
                            <p class="dish--desc">{{ item.description }}</p>
                        </div>
                    </div>
                </div>
                <!-- .row end -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
                        </div>
                    </div>
                    <div class="dish--content">
                        <h3 class="dish--title">{{ item.name }}</h3>
                        <span class="dish--price" style="right: 10px!important;">{{ item.price }}</span>
                        <p class="dish--desc">{{ item.ingredients }}</p>
                        <p class="dish--desc">Calories: {{ item.calories }} kcal</p>
                        <p class="dish--desc">Cooking time: {{ item.cooking_time }} min</p>
                    </div>
                </div>
                <!-- .dish end -->
            </div>
            <!-- .col-md-4 end -->
                {% endif %}
                {% else %}
                    <h2 class="no-dihes" style="text-align: center">There are no dishes in this category yet</h2>
                {% endif %}
            {% endfor %}
        {% endfor %}

            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <div class="arrow-top">
        <a href="#heading1"><i class="fa fa-arrow-up"></i></a>
        <p class="arrow-top-word">top</p>
    </div>
    <!-- .container end -->
</section>

<!-- Divider #5 Breakfast
============================================= -->
<section id="divider5" class="section-divider bg-overlay bg-parallax bg-overlay-dark4">
    <div class="bg-section">
        <img src="{% static 'img/br_bg.jpg' %}" alt="Breakfast" />
    </div>
    <div class="container">
        <div class="divider--shape-1up"></div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
                <div class="heading heading-3 text--center">
                    <p class="heading--subtitle">Good Morning!</p>
                    <h2 class="heading--title mb-0 text-white">Breakfast Menu</h2>
                </div>
            </div>
            <!-- .col-md-8 end -->
        </div>
        <!-- .row end -->
        <div class="divider--shape-3down"></div>
    </div>
    <!-- .container end -->
</section>
<!-- #divider5 end -->

<!-- Menu #6 Breakfast
============================================= -->
<section id="menu6" class="menu menu-2 bg-white pb-60">
    <div class="container">
        <div class="row">
            <!-- Dish #1 -->
        {% for category in categories %}
            {% for item in category.menuitem_set.all %}
                    {% for meal_type in item.meal_types.all %}
                        {% if meal_type.code == 'breakfast' %}
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="dish-panel">
                    <div class="dish--img">
                        <img src="{{ item.image_dish.url }}" alt="Dish Image">
                        <div class="dish--overlay">
                            <a class="dish-popup" data-toggle="modal" data-target="#dishPopup6{{ item.id }}"><i class="fa fa-search-plus"></i></a>

<div class="modal fade" tabindex="-1" role="dialog" id="dishPopup6{{ item.id }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
                <div class="row reservation">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="img-popup">
                            <img src="{{ item.image_dish.url }}" alt="dish img">
                            <div class="img-popup-overlay">
                                <div class="popup--price">{{ item.price }}</div>
                                <h3 class="popup--title">{{ item.name }}</h3>
                            </div>
                        </div>
                    </div>
                    <!-- .col-md-12 end -->
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="content-popup">
                            <p>{{ item.description }}</p>
                        </div>
                    </div>
                </div>
                <!-- .row end -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- /.modal -->
                        </div>
                    </div>
                    <div class="dish--content">
                        <h3 class="dish--title">{{ item.name }}</h3>
                        <span class="dish--price" style="right: 10px!important;">{{ item.price }}</span>
                        <p class="dish--desc">{{ item.ingredients }}</p>
                        <p class="dish--desc">Calories: {{ item.calories }} kcal</p>
                        <p class="dish--desc">Cooking time: {{ item.cooking_time }} min</p>
                    </div>
                </div>
                <!-- .dish end -->
            </div>
                            {% endif %}
                        {% endfor %}
                {% endfor %}
            {% endfor %}
            <!-- .col-md-12 end -->
        </div>
        <!-- .row end -->
    </div>
    <div class="arrow-top">
        <a href="#heading1"><i class="fa fa-arrow-up"></i></a>
        <p class="arrow-top-word">top</p>
    </div>
    <!-- .container end -->
</section>

<div class="clearfix"></div>

{% endblock %}